<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Saver</title>
</head>
<body>
    <h1>Save a Message</h1>
    <form method="POST" action="/">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Save</button>
    </form>

    <h2>Messages:</h2>
    <ul>
        <% messages.forEach(message => { %>
            <li><%= message.content %></li>
        <% }); %>
    </ul>
</body>
</html>
